<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="style.css">
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
       <style>
          body {
                  background: url('../static/3.jpg') no-repeat center center fixed;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;
                  background-size: cover;
                  z-index:-500;
                }

       </style>
    <meta charset="UTF-8">
    <title>Logistic Regression</title>
</head>
<body style="text-align:center;">
<link rel="stylesheet" type="text/css" href="style.css">
<h1 style="text-align:center;">Logistic Regression</h1>
<hr>
<div class="center" style="text-align:center;">
<form method="POST" action="/predict" style="text-align:center;">
    <table align="center" width="29%" height="310"  autofocus cellspacing="15">
        <tr>
            <td>
                <b>Pregnancies:</b>
            </td>
            <td>
                <input type="number" id="preg" name="preg" value="" placeholder="Pregnancies" required><br>
            </td>
        </tr>

        <tr>
            <td>
                <b>Glucose:</b>
            </td>
            <td>
                <input type="number" id="gluc" name="gluc" value="" placeholder="Glucose" required><br>
            </td>
        </tr>

        <tr>
            <td>
                <b>Blood Pressure:</b>
            </td>
            <td>
                <input type="number" id="BP" name="BP" value="" placeholder="BP" required><br>
            </td>
        </tr>

        <tr>
            <td>
               <b>Skin Thickness:</b>
            </td>
            <td>
                <input type="number" id="skin" name="skin" value="" placeholder="skin thickness" required><br>
            </td>
        </tr>


        <tr>
            <td>
                <b>Insulin:</b>
            </td>
            <td>
                <input type="number" id="insulin" name="insulin" value="" placeholder="insulin" required><br>
            </td>
        </tr>


        <tr>
            <td>
               <b>BMI:</b>
            </td>
            <td>
                <input type="number" id="bmi" name="bmi" value="" placeholder="BMI" required><br>
            </td>
        </tr>

        <tr>
            <td>
                <b>DiabetesPedigreeFunction:</b>
            </td>
            <td>
                <input type="number" id="DPF" name="DPF" value="" placeholder="DPF" required><br>
            </td>
        </tr>

        <tr>
            <td>
                <b>Age:</b>
            </td>
            <td>
                <input type="number" id="age" name="age" value="" placeholder="Age" required><br>
            </td>
        </tr>
    </table>

    <table align="center">
         <tr>
        <td><br>
        <input align="center" type="submit" value="Predict" required><br>
        </td>
    </tr>
    </table>

</form>
</div>
</body>
</html>